<div class="box">
    <h2>Usuários</h2>
    <div class="boxContent">

        <table>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Perfil</th>
            </tr>

            <% for usuario in @usuarios %>
                <tr>
                    <td><%= h usuario.nome %></td>
                    <td><%= h usuario.email %></td>
                    <td><%= h "role" %></td>
                    <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
                    <td><%= link_to 'Excluir', usuario, :confirm => "Confirma excluir o usuário #{usuario.nome}?", :method => :delete %></td>
                </tr>
            <% end %>
        </table>

    </div>
</div>
